/* font*/
@font-face {
    font-family: font_heading;
    src: url(../font/NotoSerif-Regular.ttf);

}

* {
    font-family: 'PT Serif', serif;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: font_heading;

}

/* body */
body {
    margin: 0;
}

.universal {
    padding: 0 7%;

}

/* top bar */
#topbar {
    background-color: #576574;

    padding-top: 18px;
    padding-bottom: 18px;
    overflow: auto;
}

#topbar p {
    font-size: 18px;
}

#tollfree {
    float: left;
    color: white;
    margin: 0;

}

#social_icon {
    float: right;
}

.bi {
    background-color: white;
    color: #576574;
    padding: 5px 8px;
    border-radius: 50%;
}

/* logo style */
#logobar img {
    max-height: 60px;
    max-width: 70px;
    margin: 20px 0px;
    float: left;
    padding-right: 25px;
}

/* navebar */
#navbar {
    background-color: rgb(210, 68, 68);
    margin: 0;
    overflow: auto;
}

#navbar ul li {
    display: inline-block;
    padding: 15px 0px;
    padding-right: 35px;


}

#navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 15px;
}

/* poster */
#poster {
    background-image: url(../images/back.jpg);
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

#poster h3 {
    padding-top: 0px;
    font-size: 50px;

}

#poster p {
    font-size: 20px;
    text-align: center;
}

/* why us section */
#whyus{
    overflow: auto;
    margin-bottom: 50px;
}

.red-heading{
    color: rgb(196, 80, 80);
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
    text-underline-offset: 10px;
    text-decoration-line: underline;
}
.section33 {
    width: 33.33%;
    float: left;
    padding: 15px 25px;
    box-sizing: border-box;
    text-align: center;
}
.section33 h2{
    color: rgb(196, 80, 80);
}
/* contact section */
#contact{
    background-color: rgb(196, 80, 80);
    color: white;
    overflow: auto;
    padding-top: 15px;
    padding-bottom: 20px;
}

.section70 {
    width: 70%;
    float: left;
}
.section70 h2{
    font-size: 30px;
    text-decoration: underline;
    text-underline-offset: 7px;
}
.section30{
    width: 30%;
    float: left;
    text-align: center;
    padding-top: 65px;
}
#contact-btn{
    background-color: white;
    color: rgb(196, 80, 80);
    padding: 15px 50px;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    border-radius: 8px;
}
/* blog */
.section33 img{
    max-width: 100%;
    max-height: 100%;
}
.section33 a{
    text-decoration: none;
    color: rgb(196, 80, 80);
    font-size: 17px;
    font-weight: bold;
}
/* subscribe */
#subscribe{
    background-color: rgb(196, 80, 80);
    overflow: auto;
    color: white;
}
.section50{
    width: 50%;
    float: left;
    padding: 20px 0px;
    text-align: center;
}
.section50 form{
    padding-top: 25px;
}
.section50 input[type="email"]{
    padding: 10px 50px;
    font-size: 15px;
    color: rgb(196, 80, 80);
    margin-right: 20px;
    
    border: 0px;
    border-radius: 5px;
}
.section50 input[type="submit"]{
    padding: 10px 30px;
    font-size: 15px;
    color: rgb(196, 80, 80);
    margin-right: 20px;
    border: 0px;
    border-radius: 5px;
}
/* footer */
#footer-menu {

    list-style-type: none;
    padding: 0px;
}

#footer-menu li {
    padding-bottom: 10px;
}

#footer-menu li a {
    text-decoration: none;
    color: white;
}

/* div33 */
#implink {
    background-color: #366aa2;
    color: white;
    overflow: auto;
}

.div33 {
    width: 33.33%;
    float: left;
    padding: 25px 50px;
    box-sizing: border-box;
}

.div33 h3 {
    font-size: 25px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}

.div33 ul li a {
    text-decoration: none;
}



#copyright {
    background-color: #2f3841;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
}
#copyright p {
    font-size: 20px;
}


/* responisve ipad */
@media only screen and (max-width : 820px){
    #navbar ul li {
        
        padding-right: 11px;
    }
    
    .section70{
        padding-right: 20px;
        box-sizing: border-box;
    }
    .section70 h2 {
        font-size: 27px;
    }
    .section30 {
        
        padding-top: 70px;
    }
    .section50 input[type="email"] {
        padding: 10px 33px;       
        margin-right: 44px;       
    }
    .section50 input[type="email"] {
        padding: 10px 7px;
        margin-right: 3px;
    }
}
#mobile-close,#mobile-bar{
    display: none;
}

/* responisve for mobile */
@media only screen and (max-width : 500px)
{
    #mobile-close,#mobile-bar{
        display: block;
    }
    #poster h3 {
        font-size: 27px;
    }
    .section33, .section50, .section30, .section70,.div33 {
        width: 100%;        
    }
    .section50 form {
        padding-top: 0px;
        padding-bottom: 10px;
    }
  
.section30 {
    padding-top: 24px;
    padding-bottom: 20px;
}
}
/* mobile menu */
@media only screen and (max-width : 500px){
    #navbar {
      
      
        padding: 0;
        position: absolute;
        top: 0px;
        width: 150px;
        height: 559px;
    }
    #navbar ul {
        padding: 0px;
    }
    #navbar ul li {
        display: block;
        padding-left: 20px;
        padding-right: 35px;
        border-bottom: 1px solid wheat;
    }
    #mobile-cross{
        text-align: right;
        
    }
    .bi-x-circle{
        font-size: 20px;
        background-color: rgb(196, 80, 80);
        color: white;
        padding-top: 10px;
    }
    #navbar{
        left: -150px;
        transition: all 0.5s ease;
    }
    #mobile-bar{
        background-color: rgb(196, 80, 80);
        color: white;
        padding: 15px 0px;
        font-size: 20px;
    }
    .bi-justify{
        background-color: rgb(196, 80, 80);
        color: white;
        font-size: 25px;
    }
}